* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 15px;
}

h1 {
color: purple ;
}

img {
    width: 250px;
}

button {
    background-color: green;
    font-size: 15px;
    border-radius: 5px;
}